<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyDKymeBXNeiFWY5jRUejv6zItpmr2MVyQ0" />

    <queries>
        <package android:name="com.google.android.gm" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.whatsapp" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.google.android.apps.messaging" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <!-- /sdcard/Android/data/com.whatsapp -->
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practice"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1fJTlt-Ed6Ds5lb2NMsXz3lK62B3S9MI" />
        <activity
            android:name="com.sst.practiceapp.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.sst.practiceapp.SignUpBottomNavActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".FragmentEvents" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_fragment_events" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.Practice.NoActionBar" /> -->
        <activity
            android:name="com.sst.practiceapp.BottlomNavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.VideoPlayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.LoadImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.TextToSpeech"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.NotificationViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.PushActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.NointernetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.ConnectionCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="Intent.ACTION_AIRPLANE_MODE_CHANGED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sst.practiceapp.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.RedirectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.WorkingHourActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.AgeCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.PrintTable"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sst.practiceapp.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.Getimg_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.image_acrivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.second_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sst.practiceapp.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sst.practice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>